/* http://iconfont.cn/webfont?puhui=1#!/webfont/index */

@font-face {
  font-family: "Alibaba-PuHuiTi-Heavy";
  font-display: swap;
  src: url("//static.cdn.sunmi.com/assets/fonts/Alibaba-PuHuiTi-Heavy.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Regular";
  font-display: swap;
  src: url("//static.cdn.sunmi.com/assets/fonts/Alibaba-PuHuiTi-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Light";
  font-display: swap;
  src: url("//static.cdn.sunmi.com/assets/fonts/Alibaba-PuHuiTi-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Bold";
  font-display: swap;
  src: url("//static.cdn.sunmi.com/assets/fonts/Alibaba-PuHuiTi-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alibaba-PuHuiTi-Medium";
  font-display: swap;
  src: url("//static.cdn.sunmi.com/assets/fonts/Alibaba-PuHuiTi-Medium.ttf")
    format("truetype");
}

.alibaba-puhuiti-heavy {
  font-family: "Alibaba-PuHuiTi-Heavy",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.alibaba-puhuiti-regular {
  font-family: "Alibaba-PuHuiTi-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.alibaba-puhuiti-light {
  font-family: "Alibaba-PuHuiTi-Light",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.alibaba-puhuiti-bold {
  font-family: "Alibaba-PuHuiTi-Bold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.alibaba-puhuiti-medium {
  font-family: "Alibaba-PuHuiTi-Medium",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.alibaba-puhuiti-heavy,
.alibaba-puhuiti-regular,
.alibaba-puhuiti-light,
.alibaba-puhuiti-bold,
.alibaba-puhuiti-medium {
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
